.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 1128px;
  margin: 24px auto 0;
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.gallery-image:hover{
  cursor: url(../img/hover.svg), pointer;
}

.sl-overlay {
  background:rgba(46, 47, 66, 0.8) !important;
}
.sl-navigation button {
  сolor: rgba(255, 255, 255, 1) !important;
}


.sl-close {
  color: rgba(255, 255, 255, 1) !important;
}